<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>eBook Website — {% block title %}Welcome{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>
  <h1>{% block myhdg %}Hello User{% endblock %}</h1>
  <ul>
      <li class="hbar1"><a href="{% url 'myapp:index' %}">Home</a></li>
      <li class="hbar1"><a href="{% url 'myapp:about' %}">About</a></li>
      <li class="hbar1"><a href="{% url 'myapp:feedback1' %}">Feedback</a></li>
      <li class="hbar1"><a href="{% url 'myapp:findbooks' %}">Find Books</a></li>
      <li class="hbar1"><a href="{% url 'myapp:place_order' %}">Place Order</a></li>
      <li class="hbar1"><a href="{% url 'myapp:review' %}">Review</a></li>

      {% if user.is_authenticated %}
          <li class="hbar1"><a href="{% url 'myapp:user_logout' %}">Logout</a></li>
        {% else %}
            <li class="hbar1"><a href="{% url 'myapp:user_login' %}">Login</a></li>
        {% endif %}

  </ul>
  <hr>
  {% block body_block %}{% endblock %}
</body>
</html>
